---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BaseHead from "../components/BaseHead.astro";
import { SITE_DESCRIPTION } from "../consts";
import { degrees, experiences } from "../content/about";

const yearsOfExperience = new Date().getFullYear() - 2019;
---

<html lang="en">
  <head>
    <BaseHead title={"About me"} description={SITE_DESCRIPTION} />
  </head>
  <body class="text-slate flex min-h-screen flex-col">
    <Header />
    <main
      class="flex w-full grow justify-center bg-gradient-to-b from-slate-100 to-white px-2 py-2"
    >
      <div class="relative">
        <div class="absolute right-7 top-10">
          <div class="flex gap-2">
            <a href="https://github.com/raphael-arce" target="_blank"
              ><img
                src="/github.svg"
                class="h-8 w-auto"
                alt="link to Raphael Arce's GitHub Profile"
              /></a
            >
            <a href="https://linkedin.com/in/raphael-arce" target="_blank"
              ><img
                src="/linkedin.png"
                class="h-8 w-auto"
                alt="link to Raphael Arce's GitHub Profile"
              /></a
            >
          </div>
        </div>

        <div
          class="flex max-w-[725px] flex-col justify-center gap-6 rounded border bg-white px-8 py-4"
        >
          <section>
            <div class="flex w-full flex-col gap-4 sm:flex-row">
              <img
                src="/me.png"
                class="h-20 w-20 rounded-full"
                alt="A picture of Raphael Arce"
              />

              <div class="flex w-full flex-col gap-1 sm:pt-4">
                <h1 class="-mt-1 text-2xl">Raphael Arce</h1>

                <h2 class="flex items-start gap-1 sm:items-center">
                  Berlin, Germany <span class="text-5xl leading-5 sm:mb-1.5"
                    >·</span
                  >
                  {yearsOfExperience} years of experience
                </h2>
              </div>
            </div>

            <div
              class="flex w-full flex-col justify-start gap-1 pt-6 sm:flex-row sm:gap-4"
            >
              <div class="flex flex-none sm:w-20 sm:justify-end">
                <h4 class="text-slate-400">About</h4>
              </div>
              <p class="max-w-lg">
                Software engineer who is passionate about web technologies,
                performance, accessibility, privacy, and sustainability.
              </p>
            </div>
          </section>
          <section
            class="flex w-full flex-col justify-start gap-1 sm:flex-row sm:gap-4"
          >
            <div class="flex flex-none sm:w-20 sm:justify-end">
              <h4 class="text-slate-400">Work</h4>
            </div>

            <div class="flex shrink flex-col gap-6">
              {
                experiences.map((experience) => (
                  <div class="flex flex-col gap-3">
                    <p>
                      <span class="font-semibold">{experience.title}</span> @
                      <!-- prettier-ignore -->
                      <a
                        href={experience.link}
                        target="_blank"
                        class="text-blue-600 underline visited:text-purple-500"
                      >{experience.company}</a>

                      <span class="pl-1 font-light italic text-slate-400 whitespace-nowrap">
                        {experience.date}
                      </span>
                    </p>

                    <p>{experience.subtitle}</p>

                    {experience.products.length > 0 && (
                      <ul class="flex flex-col gap-2">
                        {experience.products.map((product) => (
                          <li class="list-inside list-disc">
                            <!-- prettier-ignore -->
                            <a
                              href={product.previewLink}
                              target="_blank"
                              class="text-blue-600 underline visited:text-purple-500"
                            >{product.linkLabel}</a><Fragment set:html={product.description} />

                            {" "}

                            {product.githubLink && (
                              <a
                                href={product.githubLink}
                                target="_blank"
                                class="text-blue-600 underline visited:text-purple-500"
                              >
                                GitHub Link
                              </a>
                            )}
                          </li>
                        ))}
                      </ul>
                    )}
                  </div>
                ))
              }
            </div>
          </section>
          <section class="flex w-full flex-col gap-1 sm:flex-row sm:gap-4">
            <div class="flex sm:w-20 sm:justify-end">
              <h4 class="text-slate-400">Education</h4>
            </div>
            <ul class="flex w-fit flex-col gap-2">
              {
                degrees.map((degree) => (
                  <li>
                    <span class="font-semibold">{degree.degree}</span>{" "}
                    <span class="italic"> {degree.program}</span> @

                    <!-- prettier-ignore -->
                    <a
                      href={degree.link}
                      target="_blank"
                      class="text-blue-600 underline visited:text-purple-500"
                    >{degree.institution}</a>

                    <span class="pl-1 font-light italic text-slate-400">
                      {degree.date}
                    </span>
                  </li>
                ))
              }
            </ul>
          </section>
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
