---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="flex min-h-screen w-full flex-col items-center">
    <Header />
    <main
      class="flex w-full flex-col items-center bg-gradient-to-b from-slate-100 to-white"
    >
      <article
        class={`
        max-w-[720px] px-8
        prose prose-code:px-1.5 prose-code:rounded-lg 
        prose-code:font-mono prose-code:font-medium`}
      >
        <div class="w-full">
          {
            heroImage && (
              <div class="relative">
                <img
                  width={720}
                  height={360}
                  src={heroImage}
                  alt={`An illustration with the text: ${description}`}
                  class="rounded-xl"
                />
                <span
                  class="absolute bottom-5 w-full text-center font-mono text-lg text-white md:text-2xl"
                  style="text-wrap: balance"
                >
                  {description}
                </span>
              </div>
            )
          }
        </div>
        <div>
          <p class="text-center text-slate-500">
            <FormattedDate date={pubDate} />

            {
              updatedDate && (
                <>
                  Last updated on <FormattedDate date={updatedDate} />
                </>
              )
            }
          </p>

          <h1 class="text-center">{title}</h1>
          <hr />

          <slot />
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
